@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url(../src/Images/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}